{%extends "base.html"%}

{% block content%}

<h1>Stock Data</h1>

<br>




<span>Volatility: {{Volatility}}</span><br>

<div class="card">
    <div class="card-body">

{% if ticker%}
    {{ticker}}

{%endif%}

{%if apiQuote%}
    {%if apiQuote == "Error"%}
         this stock ticker does not exists
    {%else%}
   
    <br>
    <br>
    {{value}}
    <h1>{{apiQuote.companyName}}</h1><br>
    <table  class  = "table">
       <tr><td>Date : {{apiQuote.latestTime}}</td></tr>
       <tr><td>latest Close: {{Close}}</td></tr>
        <tr><td>latest open : {{Open}}</td></tr>
        <tr><td>day low: {{Low}}</td></tr>
        <tr><td>day High: {{High}}</td></tr>
        <tr><td>Volume: {{apiQuote.volume}}</td></tr>
        
        <tr><td>Market Cap: {{apiQuote.marketCap}}</td></tr>
        <tr><td>52 week high: {{apiQuote.week52High}}</td></tr>
        <tr><td>52 week low: {{apiQuote.week52Low}}</td></tr>
        <tr><td>peRatio: {{apiQuote.peRatio}}</td></tr>
    </table>


    
    <br>
    <br>
    <h3>Option Chain</h3>
    <table class = "table ml-5"><tr><th>Strike</th><th>Price</th></tr>
        {%for strike, value in optionsChain.items%}
        <tr><td>{{strike}}</td><td>{{value}}</td></tr>
        
        {%endfor%}
        </table><br><br>
 

    <br>
    <br>
    <br>
   
    {%for price in apiQuote.Close.values%}
   

    {%endfor%}
  
    {{apiChart}}<br><br>
    {%for history in histories%}
    {{history}}
    {{histories}}
    {%endfor%}
    
    {{history}}
  

    {%endif%}
    
{%endif%}
<br>

 </div>
</div>




{%endblock%}